<div id="desktop-view">

    <!--Loading screen for main panel-->

    <div class="desktop-panel" ng-if="!clients || invoicesLoading == true">
        <div></div>
        <div class="loading-panel">
            <div class="icon">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            </div>
        </div>
        <div></div>
    </div>

    <!--Main panel-->

    <div class="desktop-panel" ng-if="clients && step == 'select'">

        <div class="back-bar">
            <div class="back-button" title="Return to the previous page" onclick="window.history.back();">
                <i class="fas fa-arrow-left"></i>
            </div>
            <h2 style="align-self:center; padding-top:7px;">Invoices</h2>
            <div class="back-button-disabled"></div>
        </div>

        <div style="align-self:center; width:40%;">
            <div ng-if="clients.length > 1 || !user.internal">
                <label>Client:</label>
                <div class="single-address">
                    <div class="address-payload">
                        <div class="address-component">
                            <select class="data-input" ng-model="user.selectedClient" ng-options="client as client.name for client in clients">
                                <option value="" disabled selected hidden>Select a client...</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div style="height:16px;"></div>

            <div ng-if="user.internal">
                <label>Client Search:</label>
                <div class="single-address">
                    <div class="address-payload">
                        <div class="address-component">
                            <ui-select ng-model="user.selectedClient"
                                       skip-focusser="true"
                                       style="width:100%">
                                <ui-select-match placeholder="Search for a client...">
                                    <span ng-bind="$select.selected.name + ' - ' + $select.selected.code + ' - ' + $select.selected.americanCity"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="client as client in (delayedClients | filter: $select.search | limitTo: 50)" refresh="realResults($select.search)" refresh-delay="0">
                                    <span ng-bind="client.name + ' - ' + client.code + ' - ' + client.americanCity"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button class="confirm-button" ng-disabled="!user.selectedClient" ng-class="{'disabled-Button': !user.selectedClient}" ng-click="viewInvoices()">View Invoices</button>
    </div>

    <div class="desktop-panel" ng-if="step == 'edit' && invoicesLoading != true">
        <div>
            <div class="back-bar">
                <div class="back-button" title="Change selected client" ng-click="invoicesBack()">
                    <i class="fas fa-arrow-left"></i>
                </div>
                <h2 style="align-self:center; padding-top:7px;">View Invoices</h2>
                <div class="back-button-disabled"></div>
            </div>
        </div>

        <div class="table-center-dimensions" ng-if="user.invoices.length !== 0">
            <table class="table-container-dimensions" style="width:80%;">
                <thead>
                    <tr>
                        <th class="table-title-dimensions">Invoice</th>
                        <th class="table-title-dimensions">Date</th>
                        <th class="table-title-dimensions">Details</th>
                        <th class="table-title-dimensions">Amount (EXCL GST)</th>
                        <th class="table-title-dimensions">Report</th>
                        <th class="table-title-dimensions">Download</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="invoice in user.invoices | orderBy: ordering | itemsPerPage: 18 track by $index">
                        <td class="table-content-dimensions">{{invoice.invoice}}</td>
                        <td class="table-content-dimensions">{{invoice.date | date: countryCode == 'NZ' ? 'dd/MM/yyyy' : 'MM/dd/yyyy'}}</td>
                        <td class="table-content-dimensions">{{invoice.comment}}</td>
                        <td class="table-content-dimensions">${{invoice.amount.toFixed(2)}}</td>
                        <td class="table-content-dimensions"><select class="table-input-dimensions" ng-model="invoice.downloadType" ng-options="downloadType.id as downloadType.name for downloadType in downloadTypes" /></td>
                        <td class="table-content-dimensions"><button style="width:80%;" title="View this invoice" ng-click="getThisInvoice(invoice)">Go</button></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div ng-if="user.invoices.length === 0" style="text-align:center;">
            <label style="text-align:center;font-size:18px;">
                No invoices found!
            </label>
        </div>

        <div>
            <div class="pagination-bar">
                <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" class="absolute-pagination" ng-if="user.invoices.length > 0"></dir-pagination-controls>
            </div>
        </div>
    </div>
</div>
