<div id="desktop-view">

    <!--Loading screen for main panel-->

    <div class="desktop-panel" ng-if="!clients || updateInProgress == true">
        <div></div>
        <div class="loading-panel">
            <div class="icon">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            </div>
        </div>
        <div></div>
    </div>

    <!--Main panel-->

    <div class="desktop-panel" ng-if="clients && step == 'select'">

        <div class="back-bar">
            <div class="back-button" title="Return to the previous page" onclick="window.history.back();">
                <i class="fas fa-arrow-left"></i>
            </div>
            <h2 style="align-self:center; padding-top:7px;">Dimensions</h2>
            <div class="back-button-disabled"></div>
        </div>

        <div style="align-self:center; width:40%;">
            <div ng-if="clients.length > 1 || !user.internal">
                <label>Client:</label>
                <div class="single-address">
                    <div class="address-payload">
                        <div class="address-component">
                            <select class="data-input" ng-model="user.selectedClient" ng-change="getDimensions()" ng-options="client as client.name for client in clients">
                                <option value="" disabled selected hidden>Select a client...</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div style="height:16px;"></div>

            <div ng-if="user.internal">
                <label>Client Search:</label>
                <div class="single-address">
                    <div class="address-payload">
                        <div class="address-component">
                            <ui-select ng-model="user.selectedClient"
                                       ng-change="getDimensions()"
                                       skip-focusser="true"
                                       style="width:100%">
                                <ui-select-match placeholder="Search for a client...">
                                    <span ng-bind="$select.selected.name + ' - ' + $select.selected.code + ' - ' + $select.selected.americanCity"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="client as client in (delayedClients | filter: $select.search | limitTo: 50)" refresh="realResults($select.search)" refresh-delay="0">
                                    <span ng-bind="client.name + ' - ' + client.code + ' - ' + client.americanCity"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button class="confirm-button" ng-disabled="!user.selectedClient" ng-class="{'disabled-Button': !user.selectedClient}" ng-click="editDimensions()">Edit Dimensions</button>
    </div>

    <div class="desktop-panel" ng-if="step == 'edit' && updateInProgress != true">
        <div>
            <div class="back-bar">
                <div class="back-button" title="Change selected client" ng-click="dimensionsBack()">
                    <i class="fas fa-arrow-left"></i>
                </div>
                <h2 style="align-self:center; padding-top:7px;">Edit Dimensions</h2>
                <div class="back-button-disabled"></div>
            </div>
        </div>

        <div>
            <div class="table-center-dimensions">
                <table class="table-container-dimensions">
                    <thead>
                        <tr>
                            <th class="table-title-dimensions">Ordering</th>
                            <th class="table-title-dimensions">Name</th>
                            <th class="table-title-dimensions">Length ({{dimsUnit}})</th>
                            <th class="table-title-dimensions">Width ({{dimsUnit}})</th>
                            <th class="table-title-dimensions">Height ({{dimsUnit}})</th>
                            <th class="table-title-dimensions">Volume ({{cubicUnit}})</th>
                            <th class="table-title-dimensions">Weight ({{weightUnit}})</th>
                            <th class="table-icon-dimensions"><i class="fas fa-plus-circle" title="Add a row to the dimensions table" ng-click="addDimensionRow()"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="dimension in user.dimensions | orderBy: ordering | itemsPerPage: 18 track by $index">
                            <td class="table-content-dimensions"><input type="number" class="table-input-dimensions" ng-model="dimension.ordering" ng-disabled="dimension.isDefaultSize" ng-readonly="dimension.isDefaultSize" ng-change="dimension.changed = true" /></td>
                            <td class="table-content-dimensions"><input type="text" class="table-input-dimensions" ng-model="dimension.name" ng-disabled="dimension.isDefaultSize" ng-readonly="dimension.isDefaultSize" ng-change="dimension.changed = true" /></td>
                            <td class="table-content-dimensions"><input type="number" class="table-input-dimensions" ng-model="dimension.length" ng-disabled="dimension.isDefaultSize" ng-readonly="dimension.isDefaultSize" ng-change="getVolume(dimension)" /></td>
                            <td class="table-content-dimensions"><input type="number" class="table-input-dimensions" ng-model="dimension.width" ng-disabled="dimension.isDefaultSize" ng-readonly="dimension.isDefaultSize" ng-change="getVolume(dimension)" /></td>
                            <td class="table-content-dimensions"><input type="number" class="table-input-dimensions" ng-model="dimension.height" ng-disabled="dimension.isDefaultSize" ng-readonly="dimension.isDefaultSize" ng-change="getVolume(dimension)" /></td>
                            <td class="table-content-dimensions"><input type="number" class="table-input-dimensions" ng-model="dimension.volume" ng-disabled="true" ng-readonly="true" /></td>
                            <td class="table-content-dimensions"><input type="number" class="table-input-dimensions" ng-model="dimension.weight" ng-disabled="dimension.isDefaultSize" ng-readonly="dimension.isDefaultSize" ng-change="dimension.changed = true" /></td>
                            <td class="table-content-dimensions"><i class="fas fa-trash-alt" title="Remove this row from the dimensions table" ng-if="!dimension.isDefaultSize" ng-click="deleteDimension($index)"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div style="display:flex;flex-direction:row;justify-content:center;">
                <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
            </div>
        </div>

        <div>
            <div class="alert alert-danger error" role="alert" style="margin-bottom:0px" ng-show="user.errors.length > 0">
                <div ng-repeat="error in user.errors track by $index">{{error}}</div>
            </div>

            <!-- Need to check if errythang is valid before updating -->
            <button class="confirm-button" ng-disabled="false" ng-class="{'disabled-Button': false}" ng-click="checkFormData()">Save Changes</button>
        </div>
    </div>
</div>
